doctype html
html
  head
    title= title
    block stylesheets
        link(rel='stylesheet', href='/stylesheets/style.css')
    block meta
        meta(charset="utf-8")
  body
    block content
    block javascripts
