extends layout

block append stylesheets
    link(href="/Draft.css" rel="stylesheet")
    link(href="/stylesheets/rich-editor.css" rel="stylesheet")

block content
  div#welcome-app
      !=react.renderedApp

block append javascripts
    script.
        var welcomeProps = !{JSON.stringify(react.initProps).replace(/<\//g, "<\\/")};
    script(type = 'text/javascript' src=react.bundle)