doctype html
html
  head
    block stylesheets
        link(rel='stylesheet' type='text/css' href=layout.css media='screen,projection')
    block meta
        meta(charset="utf-8")
        if metaData
            block title
                title= metaData.title
  body
    block content
    block javascripts
