extends layout

block append stylesheets
    // check publically available data
    link(href="/draft-js/Draft.css" rel="stylesheet")

block content
  div#welcome-app

block append javascripts
    script.
        var welcomeProps = !{JSON.stringify(react.initProps).replace(/<\//g, "<\\/")};
    script(type = 'text/javascript' src=react.bundle)