@import url("rich-editor/editor.css");

a {
  color: #5d4037;
}

.header {
    color: #ffab40;
    font-weight: 300;
}

nav {
    background-color: #ffab40;
}

nav ul a {
    color: #5d4037;
}

nav a {
    color: #5d4037;
}

.nav-wrapper .brand-logo img {
    margin-top: 8px;
    height: 48px;
}